<div class="section">
    <!-- {{#if message}}
    <div class="">
        {{message}} --- HELLO
    </div>
    {{/if}} -->
    <form class="box is-rounded" id="login-form">
        <h3 class="notification strongBlue">Log In</h3>
        <div class="field">
            <label class="label">User Name</label>
            <div class="control">
                <input class="input" type="text" id="username-login" placeholder="e.g. John">
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" type="password" id="password-login" placeholder="********">
            </div>
        </div>

        <button class="button is-primary">Sign in</button>
    </form>
    <a href="/signup">Sign Up Instead</a>
</div>

<script src="/js/login.js"></script>