<div class="section">
    <form class="box is-rounded" id="signup-form">
        <h3 class="notification strongBlue">Sign Up</h3>
        <div class="field">
            <label class="label">User Name</label>
            <div class="control">
                <input class="input" type="text" id="username-signup" placeholder="e.g. User Name">
            </div>
        </div>

        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input class="input" type="text" id="email-signup" placeholder="e.g. alex@example.com">
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" type="password" id="password-signup" placeholder="********">
            </div>
        </div>

        <button class="button is-primary">Sign Up</button>
    </form>
    <a href="/login">Log In Instead</a>
</div>

<script src="/js/signup.js"></script>